.btn {
  border-radius: 0 !important;
}

.sidebar {
    height: 75vh;
    overflow-x: auto;
    overflow-y: scroll;
    position: -webkit-sticky;
    position: sticky;
    top: 85px;
    z-index: 1019;
}

.z-img {
    max-height: 100px !important;
    width: auto !important;
    max-width: 150px !important;
}


/* styles for '...' */
.ztext-ellipsis {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    // margin-right: -1em;
    padding-right: 1em;
    font-size: 12px;
}

/* create the ... */
.ztext-ellipsis:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */
.ztext-ellipsis:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: $white;
}

.zborder {
    border-radius: 0.25rem !important;
}

.zborder-right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.zform-control {
    height: 41px !important;
}