<div class="container">
  <h2>
    About Us
  </h2><br>
  <p>
    <img src="<%=asset_url('Archie/about.jpg') %>" alt="About" class="img-responsive" />
    <h2>OUR DESIGN QUOTIENT</h2>
    Quirky, cool &amp; chic minimal designs made for your trendy home.<br>
    We try to keep things modern, fun &amp; unique with enough wisdom &amp; patterns so that you never tire of the art on your wall.<br><br>
    <h2>CUSTOMIZATION</h2>
    We provide customization from designs to sizes to colors to framing options.<br>
    You can pick and chose, and have us create something utterly unique to you. Have it hold meaning, self expression or simply a design you love.
    <br>
    Whatever you'd like on your wall, we can create.<br><br>
    <h2>WANT TO GET FRAMED?</h2>
    <br>
    Click here to have a look at our brochure for further details : <a href="https://l.facebook.com/l.php?u=http%3A%2F%2Fissuu.com%2Ftheartpeople%2Fdocs%2Fe-brochure&amp;h=ATPtQQ2GgxpyYxkILCXRlZBF6FiZzLLd5uYBjTEXJeRa7bbwrFXs4n6hBLEcrgglUlcJC75NDfrLtRk2cD3nGurf24YCNtSyF-WFSNnQIS2-AYMsljNQKryAQlAttL6Or5FgS-3SyxQxn02fftw" rel="nofollow" target="" data-lynx-mode="asynclazy">
      http://issuu.com/theartpeople/docs/e-brochure</a>
    <br>
    or email us at theartpeopleindia@gmail.com<br>
    <br>
    Have a beautiful day!
    <br>
    If you need any clarifications regarding our product, feel free to contact us:- <a href="#">
      <%= @shop.email %>
    </a>
  </p>
</div>
