@import "bootstrap";
@import "font-awesome";
@import "theme_color";
@import "default";
@import "social-share-button";
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');

h1 {
  color: $primary!important;
}
.carousel h3 {
  color: $secondary!important;
}
.z-default #header #container-fixed {
  margin: 2px!important;
  a {
    text-transform: uppercase;
    font-family: 'Sedgwick Ave Display', cursive;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   color: $primary;
  }
}
@font-face {
  font-family: 'Raleway';
  src: url('http://mosaicthemes.net/queen/css/fonts/Raleway.eot');
  src: url('http://mosaicthemes.net/queen/css/fonts/Raleway.eot?#iefix') format('embedded-opentype'), url('http://mosaicthemes.net/queen/css/fonts/Raleway.woff') format('woff'), url('http://mosaicthemes.net/queen/css/fonts/Raleway.ttf') format('truetype'), url('http://mosaicthemes.net/queen/css/fonts/Raleway.svg#Raleway') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans';
  src: url('http://mosaicthemes.net/queen/css/fonts/PTSans.eot');
  src: url('http://mosaicthemes.net/queen/css/fonts/PTSans.eot?#iefix') format('embedded-opentype'), url('http://mosaicthemes.net/queen/css/fonts/PTSans.woff') format('woff'), url('http://mosaicthemes.net/queen/css/fonts/PTSans.ttf') format('truetype'), url('http://mosaicthemes.net/queen/css/fonts/PTSans.svg#Raleway') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('http://mosaicthemes.net/queen/css/fonts/glyphicons-halflings-regular.eot');
  src: url('http://mosaicthemes.net/queen/css/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('http://mosaicthemes.net/queen/css/fonts/glyphicons-halflings-regular.woff') format('woff'), url('http://mosaicthemes.net/queen/css/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('http://mosaicthemes.net/queen/css/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body {
  background-color: $secondary;
  font-family: "PTSans";
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'PTSans', sans-serif;
  font-weight: 400;
  color: $primary;
}
a {
  color: #656565;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover,
a:focus {
  color: $primary;
}
p {
  color: #555;
  font-family: "PTSans";
}
.z-default {

.thumb img.img-responsive {
   max-height: 270px;
}
.sidebar-menu ul {
   list-style: none;
   padding-left: 0px;
}
.text h3 {
    font-size: 16px;
}
a.external {
   background: #666;
   border-radius: 50%;
   color: #fff;
   padding: 10px 12px;
}
.sidebar-menu li {
   list-style: none;
   padding-left: 0px;
}
.block {
  padding: 60px 0;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 0.2s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -ms-animation-duration: 1s;
  -ms-animation-delay: 0.2s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  -o-animation-duration: 1s;
  -o-animation-delay: 0.2s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.btn-default-1 {
  border: 1px solid $secondary;
  color: $secondary;
  padding: 10px 20px;
  text-transform: uppercase;
}
.btn-default-1:hover {
  text-decoration: none;
  background-color: $primary;
  color: $secondary;
  border-color: $primary;
}
.btn-read {
  border: 1px solid $light;
  color: $light;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 10px auto 20px;
  display: inline-block;
}
.btn-read:hover {
  text-decoration: none;
  background-color: $primary;
  color: $secondary;
  border-color: $primary;
}
.form-control {
  border-radius: 0;
}
.color-scheme-2 {
  background-color: $secondary;
}
.color-scheme-3 {
  background-color: #f8f8f8;
}
.color-scheme-dark {
  background-color: #000814;
}
#header .header-top-login {
  background-color: $light;
  padding: 30px 0 0 0;
  display: none;
}
#header .header-top-login h3 {
  color: $secondary;
}
#header .header-top-login .block-form input {
  background: none;
  border-color: $light;
  color: $secondary;
}
#header .header-top-login .block-form::-webkit-input-placeholder {
  color: $light;
}
#header .header-top-login .block-form:-moz-placeholder {
  color: $light;
}
#header .header-top-login .block-form::-moz-placeholder {
  color: $light;
}
#header .header-top-login .block-form:-ms-input-placeholder {
  color: $light;
}
#header .header-top-login .block-form .btn-default-1:hover {
  background-color: $primary;
  border-color: $primary;
  color: $secondary;
}
#header .header-top-login #header-login-close {
  position: absolute;
  right: 20px;
  top: 15px;
  line-height: 24px;
  text-align: center;
  border: 1px solid $light;
  display: inline-block;
  height: 26px;
  width: 26px;
  border-radius: 70px;
  color: $light;
  text-decoration: none;
}
#header .header-top-login #header-login-close:hover {
  background-color: $primary;
  border-color: $primary;
  color: $secondary;
}
#header .container {
  position: relative;
}
#header .header-top-row {
  width: 100%;
  background-color: $light;
  position: relative;
}
#header .header-top-row:after {
  content: '';
  position: absolute;
  border-right: 10px solid transparent;
  border-bottom: none;
  border-top: 10px solid $light;
  border-left: 10px solid transparent;
  left: 50%;
  bottom: -10px;
  z-index: 50;
  margin-left: -10px;
}
#header ul.account-menu-list {
  font-family: 'PTSans', sans-serif;
  list-style: none;
  margin: 0;
}
#header ul.account-menu-list li {
  display: inline-block;
  padding: 10px 15px 10px 0;
}
#header ul.account-menu-list li a {
  color: $secondary;
  font-size: 13px;
  text-decoration: none;
}
#header ul.account-menu-list li a:hover {
  color: $primary;
}
#header #first-welcome p {
  line-height: 40px;
  color: $secondary;
  font-family: 'PTSans', sans-serif;
  margin: 0;
  font-size: 13px;
  text-align: center;
}
#header #first-welcome p a {
  color: $primary;
}
#header #first-welcome p a:hover {
  color: $secondary;
  text-decoration: none;
}
#header .header-bg {
  height: 150px;
  background-color: $secondary;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  transition: height 0.5s ease;
  margin-bottom: -38px;
}
#header .header-main {
  height: 150px;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  -ms-transition: height 0.5s ease;
  transition: height 0.5s ease;
  background-color: $secondary;
}
#header .header-main .top-search-form {
  margin: 10px 0;
}
#header .header-main .top-search-form form {
  margin: 0;
}
#header .header-main .top-search-form form input {
  border: 1px solid $light;
  height: 30px;
  padding: 5px 10px;
  width: 250px;
}
#header .header-main .top-search-form form button {
  margin-left: -5px;
  border: 1px solid $light;
  height: 30px;
  width: 30px;
  background-color: $secondary;
  color: $light;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#header .header-main .top-search-form form button:hover {
  background-color: $primary;
  border: 1px solid $primary;
  color: $secondary;
}
#header #container-fixed {
  height: 50px;
  margin: 25px 0;
  -webkit-transition: margin 0.5s ease;
  -moz-transition: margin 0.5s ease;
  -o-transition: margin 0.5s ease;
  -ms-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}
#header .header-logo {
  width: 140px;
  height: 50px;
  background: url("http://mosaicthemes.net/queen/css/../img/logo-big-shop.png") no-repeat;
  display: block;
  margin: 0;
}
#header .header-mini-cart {
  position: relative;
  width: 43px;
  height: 30px;
  right: 0;
  text-align: center;
  background: url("http://mosaicthemes.net/queen/css/../img/card.png") no-repeat bottom left;
  margin: 10px 0 0 20px;
}
#header .header-mini-cart a {
  text-decoration: none;
  display: block;
  height: 100%;
  outline: 0;
  text-shadow: none;
  padding-right: 10px;
}
#header .header-mini-cart a span {
  position: absolute;
  top: -5px;
  right: 0;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 11px;
  border-radius: 20px;
  line-height: 20px;
  color: $secondary;
  background-color: $secondary;
}
#header .header-mini-cart .shopping-cart-content {
  width: 238px;
  padding: 10px;
  margin: 5px 0 0 0;
  border: 1px solid $secondary;
  z-index: 99999;
  border-top: 3px solid $primary;
  border-radius: 0;
  font-size: 12px;
  z-index: 999;
}
#header .header-mini-cart .shopping-cart-content .item {
  width: 216px;
  height: 70px;
  border: 1px solid $secondary;
  margin-bottom: 5px;
  position: relative;
  font-family: "PTSans", Helvetica, sans-serif;
}
#header .header-mini-cart .shopping-cart-content .item img {
  height: 70px;
}
#header .header-mini-cart .shopping-cart-content .item p {
  padding: 5px 5px 0;
  margin: 0;
  color: #666;
  font-size: 13px;
  text-align: left;
}
#header .header-mini-cart .shopping-cart-content .item p strong {
  font-size: 13px;
}
#header .header-mini-cart .shopping-cart-content .item div {
  margin-left: 70px;
  position: absolute;
  margin-right: 30px;
}
#header .header-mini-cart .shopping-cart-content .item a i {
  text-decoration: none;
  color: $light;
  min-width: 30px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  font-size: 13px;
}
#header .header-mini-cart .shopping-cart-content .item a i:hover {
  color: $primary;
}
#header .header-mini-cart .shopping-cart-content .item:hover {
  background-color: #f7f7f7;
}
#header .header-mini-cart .shopping-cart-content .total {
  width: 100%;
  color: $light;
}
#header .header-mini-cart .shopping-cart-content .total table {
  border-collapse: collapse;
  display: inline-block;
  margin-bottom: 5px;
  float: right;
  width: 100%;
}
#header .header-mini-cart .shopping-cart-content .total table td {
  padding: 2px 2px 2px 10px;
  text-align: right;
}
#header .header-mini-cart .shopping-cart-content .total a {
  padding: 7px 15px;
  border-radius: 0;
  color: $light;
  margin: 0 0 0 10px;
}
#header .header-mini-cart .shopping-cart-content .total a:hover {
  color: $secondary;
}
#header .header-mini-cart .shopping-cart-content:before {
  content: '';
  position: absolute;
  border-right: 6px solid transparent;
  border-bottom: none;
  border-top: 6px solid $primary;
  border-left: 6px solid transparent;
  left: 50%;
  top: 0;
  z-index: 50;
  margin-left: -6px;
}
.navbar-main {
  border: none;
  margin: 0;
  line-height: 22px;
  min-height: 50px;
  border-bottom: 1px solid $secondary;
  background-color: #f7f7f7;
  border-radius: 0;
  position: relative;
}
.navbar-main .border-menu-top {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $secondary;
}
.navbar-main .nav > li > a {
  color: #333;
  padding: 13px 15px;
  border-top: 2px solid transparent;
  font-family: 'PTSans', sans-serif;
  text-transform: uppercase;
}
.navbar-main .dropdown-menu {
  border: none !important;
  padding: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(79, 83, 103, 0.175);
  box-shadow: 0 6px 12px rgba(79, 83, 103, 0.175);
}
.navbar-main .dropdown-menu li > a {
  padding: 0 15px;
  white-space: nowrap;
  min-height: 32px;
  line-height: 40px;
  font-family: 'PTSans', sans-serif;
}
.navbar-main .dropdown-submenu {
  position: relative;
}
.navbar-main .dropdown-submenu:hover:after {
  color: $secondary;
}
.navbar-main .dropdown-submenu:after {
  content: "\f105";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 14px;
  padding-left: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.navbar-main .dropdown-submenu > .dropdown-menu {
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
}
.navbar-main .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.navbar-main .dropdown-menu > li > a:hover,
.navbar-main .dropdown-menu > li > a:focus {
  background-color: $primary;
  color: $secondary;
}
.navbar-main .nav.navbar-right .dropdown-menu {
  right: 15px;
}
.navbar-main a.navbar-brand {
  padding: 10px 15px;
  height: 30px;
}
.navbar-main a.navbar-brand i {
  display: inline-block;
  color: $light;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: 1px solid $light;
  border-radius: 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar-main a.navbar-brand i:hover {
  background-color: $primary;
  color: $secondary;
  border: 1px solid $primary;
}
.navbar-main .navbar-toggle {
  background-color: $light;
  border-radius: 0;
}
.navbar-main .navbar-toggle .icon-bar {
  background-color: $secondary;
}
.navbar-main .navbar-collapse {
  max-height: none;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: $secondary;
  color: $primary;
  border-color: $primary;
  -webkit-box-shadow: 0 6px 12px rgba(79, 83, 103, 0.175);
  box-shadow: 0 6px 12px rgba(79, 83, 103, 0.175);
}
.nav > li > a:hover i,
.nav > li > a:focus i {
  color: $primary;
}

.yamm-content ul > li {
  min-height: 40px;
  line-height: 40px;
}

.yamm-content .banner {
  margin: 20px 0 0;
}
.product-section article {
  margin-bottom: 40px;
}
.product-section ul {
  margin-bottom: 0;
}
.product-section ul li {
  margin-bottom: 40px;
}
.product {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: $secondary;
  border: 1px solid #ddd;
  max-width: 280px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.product:hover {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.product-caption {
  padding: 0 10px 10px 10px;
}
.product-caption .product-name {
  font-size: 18px;
  margin: 10px 0;
  display: block;
  text-transform: initial;
  text-decoration: none;
  font-family: 'PTSans', sans-serif;
  color: $light;
}
.product-caption .product-name:hover {
  color: $primary;
}
.product-caption .product-price {
  color: $primary;
  font-size: 16px;
  margin: 0;
}
.product-caption .product-price span {
  color: #666;
  font-size: 12px;
  text-decoration: line-through;
}
.product-rating {
  width: 100%;
  padding: 9px 0 3px;
}
.product-rating .stars {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 13px;
  text-align: center;
}
.product-rating .stars span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.product-rating .stars span.star:hover {
  cursor: pointer;
}
.product-rating .stars span.star:before {
  content: "\f006";
  padding: 0 3px;
  color: #999999;
}
.product-rating .stars span.star:hover:before,
.product-rating .stars span.star:hover ~ span.star:before {
  content: "\f005";
  color: $primary;
}
.product-section figure {
  max-width: 280px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.figure-hover-overlay {
  position: relative;
  overflow: hidden;
}
.figure-hover-overlay .figure-href {
  text-transform: lowercase;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
}
.product-new,
.product-sale {
  position: absolute;
  font-size: 13px;
  z-index: 101;
  width: 38px;
  bottom: 16px;
  height: 28px;
  color: $secondary;
  text-align: center;
  line-height: 28px;
  opacity: 0.9;
}
.product-new {
  left: 10px;
  background-color: #18bd2b;
}
.product-sale {
  right: 10px;
  background-color: $primary;
}
.figure-hover-overlay img {
  position: relative;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1.25s ease-out;
  transition: 1.25s ease-out;
}
.product:hover .figure-hover-overlay img {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 1.25s ease-out;
  transition: 1.25s ease-out;
}
.product-section figcaption {
  bottom: 0;
  opacity: 0;
  top: auto;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
  width: 100%;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
  color: $secondary;
  left: 0;
  padding: 5px 10px 10px;
  position: absolute;
  z-index: 6;
}
.figure-hover-overlay figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
  color: $secondary !important;
}
.figure-hover-overlay figcaption a {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid $secondary;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  color: $light;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  background-color: $secondary;
}
.figure-hover-overlay figcaption a:hover {
  color: $secondary;
  border-color: $primary;
  background-color: $primary;
  text-decoration: none !important;
}
.bar:after,
.bar:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50.2%;
  height: 0;
  border-bottom: 7px solid $secondary;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
}
.bar:before {
  left: 0;
  border-right: 7px solid rgba(0, 0, 0, 0);
}
.bar:after {
  right: 0;
  border-left: 7px solid rgba(0, 0, 0, 0);
}
.header-menu {
  position: relative;
  margin: 20px 0 10px;
  border: 1px solid $light;
}
.header-menu h5 {
  text-align: center;
  color: $light;
}
.header-1 {
  margin-bottom: 30px;
}
.header-1 h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.header-1 h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.header-1 .header-bottom-line {
  text-align: center;
  width: 100px;
  height: 3px;
  display: block;
  margin: 5px auto 10px;
  background-color: $primary;
}
.header-2 {
  position: relative;
  border-top: 2px solid $primary;
  background-color: $secondary;
}
.header-2 h3 {
  margin: 0;
  padding: 15px 0;
  text-align: center;
}
.header-footer {
  position: relative;
  border-bottom: 1px solid $light;
  margin-bottom: 10px;
}
.header-footer h3 {
  margin: 10px 0;
  color: $secondary;
}
.block-banner {
  margin-top: 30px;
}
.banner {
  position: relative;
  margin-bottom: 30px;
}
.banner a:before {
  position: absolute;
  content: "";
  left: 20px;
  top: 20px;
  bottom: 20px;
  right: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.banner a:hover:before {
  -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4) inset;
  -o-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4) inset;
  -ms-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.4) inset;
}
.block-services article {
  margin-bottom: 20px;
}
.block-services article i {
  color: $light;
  text-align: center;
  line-height: 80px;
  font-size: 40px;
  margin: auto;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 70px;
  border: 1px solid $light;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.block-services article i:after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 3px $secondary;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}
.block-services article a {
  color: $light;
  font-size: 18px;
  font-family: 'PTSans', sans-serif;
  text-indent: 80px;
}
.block-services article a:hover {
  color: $primary;
  text-decoration: none;
}
.block-services article p {
  display: block;
  padding-left: 70px;
}
.block-services article:hover i {
  color: $primary;
  border-color: $primary;
  box-shadow: 0 0 0 5px $primary;
}
.block-services article:hover i:after {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0.5;
}
.block-what-clients-say {
  background-color: rgba(255, 255, 255, 0.5);
}
.block-what-clients-say p {
  font-size: 26px;
  font-family: 'PTSans', sans-serif;
  text-align: center;
}
.block-what-clients-say h4 {
  text-align: center;
  color: $light;
}
.block-what-clients-say h3 {
  text-align: center;
  color: $primary;
}
.block-3-col {
  position: relative;
  max-width: 390px;
  margin: 0 auto 40px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.block-bg-banner {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.block-bg-banner p {
  margin: 20px 0;
}
.block-inner {
  padding: 15px 30px;
  background-color: $secondary;
}
.block-partners img {
  border: 5px $secondary solid;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.block-latest-posts-list h4 {
  font-family: 'PTSans', sans-serif;
  font-size: 17px;
  margin: 0 0 3px;
}
.block-fl-feed a {
  display: block;
  margin-bottom: 15px;
}
.block-form {
  margin-bottom: 30px;
}
.block-form h3 {
  margin: 10px 0;
}
.block-form .form-control {
  border-radius: 0;
  margin: 10px 0;
  border-color: #ddd;
}
.block-form .btn-default-1 {
  border-color: $light;
  background-color: $secondary;
  color: $light;
  margin: 5px 20px 10px 0;
  display: inline-block;
}
.block-form .btn-default-1:hover {
  border-color: $primary;
  background-color: $primary;
  color: $secondary;
}
.welcome {
  position: relative;
}
.welcome .over-welcome {
  position: absolute;
  padding: 15px;
  z-index: 5;
}
.welcome .over-welcome h2 {
  color: $light;
}
.welcome .over-welcome form {
  margin: 0;
}
.welcome .over-welcome form input {
  border: 1px solid $light;
  height: 30px;
  padding: 5px 10px;
}
.welcome .over-welcome form button {
  border: 1px solid $light;
  padding: 10px 30px;
  color: $light;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 15px 0;
  background: none;
}
.welcome .over-welcome form button:hover {
  background-color: $primary;
  color: $secondary;
  border-color: $primary;
}
.welcome img {
  opacity: 0.9;
}
.week-sale {
  position: relative;
}
.week-sale .sale-info {
  position: absolute;
  height: 80px;
  width: 80px;
  padding: 10px;
  border-radius: 60px;
  border: 1px solid $primary;
  background-color: $primary;
  color: $secondary;
  font-size: 22px;
  vertical-align: middle;
  right: 10px;
  top: 70px;
  font-family: 'PTSans', sans-serif;
  text-transform: uppercase;
}
.week-sale .time {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin: 10px 0 0 -110px;
  font-size: 15px;
  color: $secondary;
  text-align: left;
}
.payment-service .payment-service-block {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  float: left;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid $light;
  border-top: 2px solid $primary;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.payment-service .payment-service-block i {
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 70px;
  border: 1px solid $light;
}
.payment-service .payment-service-block:hover {
  background: $light;
}
.payment-service .payment-service-block:hover .payment-service-icon {
  color: $primary;
  -webkit-animation: moveFromBottom 300ms ease;
  -moz-animation: moveFromBottom 300ms ease;
  -ms-animation: moveFromBottom 300ms ease;
}
.payment-service .payment-service-block:hover .payment-service-icon i {
  background-color: $secondary;
}
.payment-service .payment-service-block:hover .payment-service-main {
  color: $secondary;
  -webkit-animation: smallToBig 300ms ease;
  -moz-animation: smallToBig 300ms ease;
  -ms-animation: smallToBig 300ms ease;
}
.payment-service .payment-service-block:hover .payment-service-sub {
  color: $secondary;
  -webkit-animation: moveFromBottom 500ms ease;
  -moz-animation: moveFromBottom 500ms ease;
  -ms-animation: moveFromBottom 500ms ease;
}
.payment-service .payment-service-block a {
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  color: #333;
  position: relative;
}
.payment-service .payment-service-block .payment-service-icon {
  font-size: 42px;
  color: $light;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0px;
  top: 25px;
  text-align: center;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}
.payment-service .payment-service-block .payment-service-icon i {
  line-height: 100px;
  text-align: center;
}
.payment-service .payment-service-block .payment-service-content {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 50%;
  top: 50%;
}
.payment-service .payment-service-block .payment-service-main {
  font-size: 24px;
  color: $primary;
  padding: 0 10px;
  font-family: 'PTSans', sans-serif;
  text-align: center;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}
.payment-service .payment-service-block .payment-service-sub {
  text-align: center;
  font-size: 14px;
  right: 0;
  color: #333;
  line-height: 40px;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
  margin-bottom: 0;
}
@-webkit-keyframes smallToBig {
  from {
    -webkit-transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes smallToBig {
  from {
    -moz-transform: scale(0.1);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes smallToBig {
  from {
    -ms-transform: scale(0.1);
  }
  to {
    -ms-transform: scale(1);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0%);
  }
}
@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(100%);
  }
  to {
    -ms-transform: translateY(0%);
  }
}
#bg-banner {
  background-image: url("http://mosaicthemes.net/queen/css/../img/bg/bg_banner1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#clients-say {
  background-image: url("http://mosaicthemes.net/queen/css/../img/bg/bg2.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#footer {
  background-image: url("http://mosaicthemes.net/queen/css/../img/bg/bg1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.footer-block {
  background-color: rgba(255, 255, 255, 0.7);
}
.footer-information {
  //padding: 40px 0;
  background: $light;
  font-size: 13px;
}
.footer-information p {
  color: $secondary;
}
.footer-information a {
  color: $secondary;
  text-decoration: none;
  line-height: 20px;
}
.footer-information a:hover {
  color: $primary;
}
.footer-information .footer-categories {
  margin: 0;
  list-style-type: none;
}
.footer-information .footer-categories li {
  list-style-type: none;
  line-height: 28px;
}
.footer-information form {
  margin: 0;
}
.footer-information form input {
  border: 1px solid $light;
  height: 30px;
  padding: 5px 10px;
  background: none;
}
.footer-information form::-webkit-input-placeholder {
  color: $secondary;
}
.footer-information form:-moz-placeholder {
  color: $secondary;
}
.footer-information form::-moz-placeholder {
  color: $secondary;
}
.footer-information form:-ms-input-placeholder {
  color: $secondary;
}
.footer-information form button {
  margin-left: -5px;
  border: 1px solid $light;
  height: 30px;
  width: 30px;
  background-color: $light;
  color: $secondary;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-information form button:hover {
  background-color: $primary;
  border: 1px solid $primary;
}
.footer-information .socials {
  text-align: left;
}
.footer-information .socials a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  border-radius: 30px !important;
  margin: 20px 10px 20px 0;
  text-decoration: none;
  color: #ccc;
  vertical-align: middle;
  line-height: 42px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 40px;
}
.footer-information .socials a:hover {
  background-color: $primary;
  color: $secondary;
  border-color: $primary;
}
// .footer-copy {
//   padding: 25px 0;
// }
.footer-copy a {
  color: $light;
}
// .z-default .footer-information {
//     /* padding: 40px 0; */
//     background: #4f5367;
//     font-size: 13px;
// }
.z-drak{
  padding: 0px 0px; 
  background: #333;
  font-size: 13px;
}
.footer-copy .logo-copy {
  display: inline-block;
  width: 104px;
  height: 52px;
  background: url("http://mosaicthemes.net/queen/css/../img/logo-copy-shop.png") no-repeat;
  margin-right: 10px;
}
.footer-copy p {
  display: inline-block;
  height: 42px;
  line-height: 16px;
  border-left: 1px $light solid;
  padding: 10px 0 0 10px;
  margin: 0;
  font-size: 12px;
  color: #ccc;
}
.footer-payments {
  list-style: none;
  padding: 10px 14px 0 0;
}
.footer-payments li {
  display: inline-block;
  margin: 0 4px 8px;
  float: inherit;
}
@media (max-width: 767px) {
  #header .header-main .top-search-form form input {
    width: 200px;
  }
  #header .header-main .navbar-collapse {
    z-index: 999;
    position: relative;
    background-color: $secondary;
  }
  #header .navbar-main .dropdown-submenu > .dropdown-menu {
    position: relative;
    left: 0;
    padding-left: 30px;
  }
}
@media (max-width: 480px) {
  #header .header-bg {
    height: 180px;
  }
  #header .header-main .top-search-form {
    width: 100%;
    text-align: right;
  }
  .navbar-main {
    margin: 3px 0 0 0;
  }
}
.fade-carousel {
  position: relative;
  height: 100vh;
}
.fade-carousel .carousel-inner .item {
  height: 100vh;
}
.carousel {
  background-image: none;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: $secondary;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.hero h1 {
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out .1s;
  -moz-transition: 2s all ease-in-out .1s;
  -ms-transition: 2s all ease-in-out .1s;
  -o-transition: 2s all ease-in-out .1s;
  transition: 2s all ease-in-out .1s;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: .7;
}
.btn.btn-lg {
  padding: 10px 40px;
}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: $secondary;
  background-color: $primary;
  border-color: $primary;
  outline: none;
  margin: 20px auto;
}
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(http://mosaicthemes.net/queen/img/preview/slider/1_bg.jpg);
}
.fade-carousel .slides .slide-2 {
  background-image: url(http://mosaicthemes.net/queen/img/preview/slider/2_bg.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(http://mosaicthemes.net/queen/img/preview/slider/1_bg.jpg);
}
@media screen and (min-width: 980px) {
  .hero {
    width: 980px;
  }
}
@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: 4em;
  }
}
.yamm .nav,
.yamm .collapse,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.yamm .yamm-content {
  padding: 20px;
}
.yamm .yamm-content div > a {
  color: $secondary;
}
.yamm .yamm-content .row > div:hover .header-menu {
  background-color: $primary;
  border-color: $primary;
}
.yamm .yamm-content .row > div:hover .header-menu h5 {
  color: $secondary;
}
.yamm .yamm-content ul li a {
  display: block;
}
.yamm .yamm-content ul li a:hover {
  color: $secondary;
  background-color: $primary;
  text-decoration: none;
}
.yamm .yamm-content div > .product-name {
  color: $light;
}
.yamm .yamm-content div > .product-name:hover {
  color: $primary;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 15px;
  right: 15px;
}
}
@media (min-width: 767px) { 
h4#logo {
    font-size: 35px;
}
}
.social {
  display: -webkit-box;
  li {
    padding-right: 11px;
  }
}
.z-default #header .header-main .top-search-form form button {
    margin-left: -5px;
    border: 1px solid #4f5367;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    color: #4f5367;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 4px;
}

.z-default .yamm .yamm-content {
    color: #ffffff;
}
.z-log{
  font-family: 'Sedgwick Ave Display', cursive;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #ee4a42;
}
@media only screen and (min-width: 400px) and (max-width: 700px) {
.z_shop{
  text-align: -webkit-center!important;
  font-size: 20px;
}
}

.z-default .product {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #ffffff;
     border: none;
    max-width: 280px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.social {
     display: block;
}