@import url("https://fonts.googleapis.com/css?family=Barrio|Raleway");
@import 'bootstrap';
@import "font-awesome";
@import "theme_color";
@import "social-share-button";
@import 'default';
@import "toastr.min";


html, body { 
  width:100%; 
  overflow-x:hidden; 
}
a {
  cursor: pointer;
}
a, body {
  color: #323237;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  text-decoration: none;
}

section {
  margin-top: 70px;
}

.btn {
  &.btn-default, &.btn-primary {
    border-color: $sky;
    background-color: $sky;
  }
}

.btn-default {
  background-color: $sky;
  color: $secondary;
}

input {
  &[type=button], &[type=reset], &[type=submit] {
    background-color: $sky;
    color: $secondary;
  }
}

.btn {
  font-weight: 700;
  border-radius: 0;
  font-size: 13px;
  line-height: 15px;
  padding: 10px 25px;
  height: 40px;
  letter-spacing: 2px;
  outline: 0 !important;
  text-transform: uppercase;
  box-shadow: none !important;
}

.form-control {
  box-shadow: none !important;
  border-bottom: 1px solid #1abc9c!important;
}

// navbar
  .dropdown-menu {
    width:150px
  }
  .dropdown-menu.columns-2 {
    min-width: 400px;
  }
  .dropdown-menu.columns-3 {
    min-width: 600px;
  }
  .dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
  }
  .multi-column-dropdown {
    list-style: none;
  }
  .multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: $spy;
    white-space: normal;
  }
  .multi-column-dropdown li a:hover {
    text-decoration: none;
    color: $spy;
    background-color: #f5f5f5;
  }

  @media (max-width: 767px) {
    .dropdown-menu.multi-column {
      min-width: 240px !important;
      overflow-x: hidden;
    }
  }

  .sub-navbar {
    background: $secondary;
    a {
      color: #555;
      background-color: $secondary;
      text-transform: capitalize;
      font-weight: 600;
    }
  }

  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 4px;
    text-transform: none;
  }



  .navbar-default {
    .navbar-nav {
      > .active > a {
        color: #555;
        background-color: $secondary;
        text-transform: uppercase;
        font-weight: 600;
        &:focus, &:hover {
          color: #555;
          background-color: $secondary;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      a {
        color: #555;
        background-color: $secondary;
        text-transform: uppercase;
        font-weight: 600;
        &:focus, &:hover {
          color: #555;
          background-color: $secondary;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
    background-color: $secondary;
    border-color: transparent;
    box-shadow: 0px 1px 9px -2px rgba(0, 0, 0, 0.3);
  }

  .navbar .navbar-nav {
    li a {
      &:focus, &:hover {
        color: $primary !important;
        background-color: transparent !important;
      }
    }
    .fa {
      background-color: $primary;
      color: #F9F9F9;
      font-size: 16px;
      padding: 0;
      text-align: center;
      border-radius: 50%;
      width: 38px;
      height: 38px;
      line-height: 38px;
      display: inline-block;
    }
  }

  .navbar-default {
    .navbar-collapse, .navbar-form {
      padding-top: 15px;
    }
  }

  .dropdown-menu > li > a:hover {
    border-left: 2px solid $primary;
    background-color: #F9F9F9;
  }

  .navbar-nav > li > .dropdown-menu {
    margin-top: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    padding-right: 15px;
  }

  .box {
    position: relative;
  }

  .search {
    width: 200px;
    max-width: 0;
    padding: 5px;
    transition: all .5s ease;
    position: absolute;
    right: 20px;
    box-sizing: border-box;
    opacity: 0;
    &.expanded {
      max-width: 200px;
      opacity: 1;
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .icon {
    margin-top: -10px;
  }


.products-number {
  .btn {
    padding: 5px;
    height: auto;
  }
}



  .btn {
    &.btn-lg {
      padding: 10px 40px;
    }
    &.btn-hero {
      color: #f5f5f5;
      background-color: $primary;
      border-color: $primary;
      outline: none;
      margin: 20px auto;
      &:hover, &:focus {
        color: #f5f5f5;
        background-color: $primary;
        border-color: $primary;
        outline: none;
        margin: 20px auto;
      }
    }
  }

  .hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
  }
  .hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;

  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
  }
  .btn.btn-lg {padding: 10px 40px;}
  .btn.btn-hero,
  .btn.btn-hero:hover,
  .btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: $primary;
    border-color: $primary;
    outline: none;
    margin: 20px auto;
  }
  
  @media screen and (min-width: 980px){
    .hero { width: 980px; }
  }
  @media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
    .icon {
      margin-top: -10px;
    }
    .navbar-right li:nth-child(2) {
      margin-left: 120px;
    }
  }

  @media screen and (min-width: 980px) {
    .hero {
      width: 980px;
    }
  }

  @media screen and (max-width: 640px) {
    .hero h1 {
      font-size: 4em;
    }
  }

// categories

.container-fluid {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.container {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.row {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.collections .collection {
  margin-bottom: 30px;
  a {
    display: block;
    position: relative;
    background-color: #333;
    overflow: hidden;
    img {
      -webkit-transition: opacity .5s,transform .5s;
      -o-transition: opacity .5s,transform .5s;
      transition: opacity .5s,transform .5s;
    }
    &:hover {
      &:after, &:before {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }
    &:before {
      border-bottom: 2px solid #323237;
      border-top: 2px solid #323237;
      margin: 0 -5px;
      -webkit-transform: scale(0, 1);
      -moz-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      -o-transform: scale(0, 1);
      transform: scale(0, 1);
    }
    &:after, &:before {
      content: "";
      position: absolute;
      top: 20px;
      right: 20px;
      left: 20px;
      bottom: 20px;
      opacity: 0;
      z-index: 1;
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in;
    }
    &:hover {
      &:after, &:before {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }
    &:after {
      border-left: 2px solid #323237;
      border-right: 2px solid #323237;
      margin: -5px 0;
      -webkit-transform: scale(1, 0);
      -moz-transform: scale(1, 0);
      -ms-transform: scale(1, 0);
      -o-transform: scale(1, 0);
      transform: scale(1, 0);
      content: "";
      position: absolute;
      top: 20px;
      right: 20px;
      left: 20px;
      bottom: 20px;
      opacity: 0;
      z-index: 1;
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in;
    }
    &:before {
      content: "";
      position: absolute;
      top: 20px;
      right: 20px;
      left: 20px;
      bottom: 20px;
      opacity: 0;
      z-index: 1;
      -webkit-transition: all .3s ease-in;
      -o-transition: all .3s ease-in;
      transition: all .3s ease-in;
    }
  }
}

// promotion

.promotions .promotion {
  border: 1px solid #F2F2F2;
  padding: 35px 20px 20px;
  &.media {
    padding: 30px 20px;
    .media-left {
      padding-right: 20px;
    }
  }
}

.caret, .media-middle {
  vertical-align: middle;
}

.promotions .promotion.media {
  i {
    font-size: 36px;
  }
  .fa {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.promotions .promotion {
  h3 {
    font-weight: 100;
    text-transform: uppercase;
  }
  p {
    color: #ABABAB;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 0;
  }
}

// latest_products

.section-title {
  margin-bottom: 50px;
  position: relative;
  float: none;
  h3 {
    font-size: 28px;
    position: relative;
    display: table;
    margin: auto auto 10px;
    text-transform: uppercase;
  }
  .line {
    &:first-child {
      right: -75px;
    }
    background-color: #d9d7d4;
    height: 1px;
    width: 60px;
    position: absolute;
    top: 15px;
  }
  p {
    color: #8d8d8d;
    max-width: 450px;
    margin: auto;
    line-height: 1.8em;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .5px;
  }
}

// products

.z-default .products {
  padding: 0px !important;
}

.second-style .product {
  text-align: center;
}

.section-title .line:last-child {
  left: -75px;
}

.product {
  margin-bottom: 30px;
}

.second-style .product .inner-product {
  overflow: hidden;
}

.inner-product {
  position: relative;
  .onsale {
    width: 50px;
    height: 50px;
    line-height: 50px;
    top: 10px;
    right: 10px;
    background-color: $primary;
    backface-visibility: hidden;
    border-radius: 50%;
    background-clip: padding-box;
    font-size: 14px;
    color: $secondary;
    text-align: center;
    display: block;
    overflow: hidden;
    z-index: 1;
    position: absolute;
  }
}

.product .li-icon {
  background-color: $secondary;
  color: #4A3638;
}


.product .li-icon:hover {
  background: $primary;
  color: #fff;
}
.li-icon, .navbar .navbar-nav .li-icon {
  background-color: $primary;
  color: #F9F9F9;
  font-size: 16px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 42px;
  display: inline-block;
}

.second-style .product {
  .inner-product .product-details {
    top: 100%;
  }
  .product-details {
    background-color: transparent;
    top: 0;
    bottom: inherit;
  }
}

.product-details {
  opacity: 1;
}
.product-details {
  background-color: rgba(231, 76, 60, 0.85);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  color: $secondary;
  padding: 0 25px;
  z-index: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}


.second-style .product .product-details .product-btns {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
}

.inner-product .product-details .product-btns {
  text-align: center;
  span {
    display: inline-block;
  }
}

.second-style .product {
  .product-title {
    color: #323237;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 15px;
  }
  .product-price {
    color: #323237;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 20px;
  }
}

.product .product-price, .product-price {
  line-height: 1;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  color: $secondary;
}

// footer

.footer {
  padding-top: 60px;
  background-color: #f8f8f8;
  .widgets .widget {
    margin-bottom: 30px;
  }
}

.widgets .widget .widget-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.footer .widgets {
  .widget-links {
    font-weight: 700;
  }
  .widget {
    margin-bottom: 30px;
  }
}

.widgets .widget.widget-instagram li {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  > a {
    position: relative;
    display: block;
    &:after {
      font-family: 'Barrio', cursive;
      content: 'î»';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(50, 50, 55, 0.5);
      display: block;
      text-align: center;
      padding-top: 45%;
      color: $secondary;
      font-size: 24px;
      line-height: 1;
      width: 0;
      opacity: 0;
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease;
    }
  }
}

.footer .widgets {
  .widget-instagram a:after {
    width: 100%;
    left: 0;
  }
  .widget-newsletter form .form-group {
    position: relative;
  }
}

.form-group {
  margin-bottom: 15px;
}

.footer .widgets {
  .widget-newsletter form .form-control {
    padding-left: 0;
  }
  .inputs-border .form-control {
    border-color: #323237;
  }
}

.inputs-border .form-control {
  border-bottom: 1px solid #eee;
}

.form-control {
  background-color: transparent;
  font-size: 16px;
  padding-right: 25px;
  border: none;
  margin-bottom: 0;
  height: 43px;
  color: #8D8D8D;
  outline: 0;
  line-height: 2em;
  border-radius: 0;
}

.widgets {
  .widget-newsletter form .form-group .btn {
    background-color: transparent;
    color: #323237;
    border: none;
    padding: 10px 0;
    position: absolute;
    top: 5px;
    right: 0;
  }
  .widget > ul {
    margin-bottom: 0;
    list-style: none;
    display: -webkit-inline-box;
  }
}

.footer .social li {
  float: none;
}

.social li {
  margin-right: 15px;
  line-height: 0;
  float: left;
  a {
    color: #c9c9c9;
    font-size: 18px;
  }
}
.masonry row{
  position: relative;
  height: 946.124px;
}

.z-list{
  list-style: none;
}

.cart_item_number{
  position: absolute;
  background: #584b4b;
  color: #fff;
  padding: 0px 6px;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 27px;
}

.logo_text {
  text-transform: uppercase;
  border-bottom: 5px double $primary;
  font-family: 'Barrio', cursive;
}

.product-thumbnail img {
  max-height: 300px;
  margin: 0 auto;
}
.product-thumbnail {
  max-height: 300px;
}
img.img-responsive.image1 {
    height: 300px;
}

.sidebar-menu li {
    list-style: none;
    padding-left: 0px;
}

.sidebar-menu ul {
    list-style: none;
    padding-left: 0px;
}

a.external {
    background: #666;
    border-radius: 50%;
    color: #fff;
    padding: 10px 12px;
}

.thumb img.img-responsive {
    max-height: 270px;
}
h2.logo_text {
    font-size: 23px;
    margin-top: 0px;
}
.product-title
{
  a:hover {
    color: $primary;
    text-decoration: none;
}
}
.amount:hover {
    color: $primary;
    text-decoration: none;
}
.z-list, a:hover {
    text-decoration: none;
    color: $primary;
}
.parallax {
    /* The image used */
    background-image: image-url('Alia/para.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}


.image_caption {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 100%;
    font-size: 1.5em;
}

ins {
    text-decoration: none;
}
.z-margin{
  margin-top: -30px;
  margin-bottom: 70px;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }